.container-list {
  height: 100%;
  margin-top: 100px;
  border: 1px rgb(160, 160, 160) solid;
  max-width: 700px;
  width: 100%;
  margin: auto;
  border-radius: 4px;
  background: white;
  padding: 20px;
  .list {
    list-style: none;
  }
}
