/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  outline: none;
  align-items: center;
}
html {
  height: 100%;
  background: rgb(47, 47, 248);
}
